/* general css */

* {
    box-sizing: border-box;
    font-family: "Lato", sans-serif;
    color: #1e1e1e;
    overflow-x: hidden;
}

body {
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 0;
    margin: 0px 0px;
}

h1,
h2,
h3,
h4 {
    padding: 10px 12px;
    font-weight: normal;
    margin: 0px;
}

h1 {
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: -0.02em;
}

h2 {
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0;
}

h3 {
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0;
}

h4 {
    padding: 5px 10px;
    font-weight: 450;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0;
}

P {
    padding: 5px 10px;
    margin: 0px;
}

strong {
    font-weight: 700;
}

button {
    font-size: 18px;
    line-height: 22px;
    padding: 5px 10px;
    cursor: pointer;
        border-radius: 4px;
    outline: none;
    background-color: rgb(75, 161, 89);
    border-color: rgb(40, 150, 55);
    color: #fff;
}
button:hover {
    background-color: rgb(140, 192, 147);
}

.btnred {
    font-size: 18px;
    line-height: 22px;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 4px;
    outline: none;
    background-color: rgb(161, 75, 75);
    border-color:  rgb(33, 33, 33);
    color: #fff;
}
.btnred:hover {
    background-color:  rgb(209, 36, 36);
}

.smallbtn {
    font-size: 12px;
    line-height: 14px;
    padding: 3px 5px;
    border-radius: 4px;
}

.coininputbox {
    font-size: 18px;
    line-height: 22px;
    margin: 0px 15px;   
    padding: 5px 15px;
    cursor: pointer;
    outline: none;
    border: 1px solid #40ef1f;
    border-radius: 4px;
    color: #000;
    max-width: 80px;
}



.pageouter {
    margin: auto;
    margin-top: 0px;
    width: 100%;
}

.pageinner {
    padding: 0px 5px 0px 0px;
    width: 100%;
    margin: auto;
}

.pageheader {
    top:48px;
    background-color: #fff;
    margin: 48px 5px 10px 10px;
    padding: 0px 0px 0px 0px;
    width:100%;
}

.section {
    background-color:#ebebeb;
    margin: 0px 0px 10px 0px;
    padding: 10px 0px 10px 0px;
    float:none;
    border-radius: 8px;
}

.section-first {
    background-color:#ebebeb;
    margin: 3px 0px 3px 0px;
    padding: 5px 0px 10px 0px;
    border-radius: 0px 0px 8px 8px;
}

.section-last {
    background-color:#ebebeb;
    margin: 0px 0px;
    padding: 10px 10px 30px 10px;
}

.section-plain {
    background-color:#ebebeb;
    padding: 0px 0px 10px 0px;
}

.spinner {
    margin: 0px 10px 0px 10px;
    background-color: #ebebeb;
    text-align: center;
}

.footer {
    position: fixed;
    padding: 5px 10px 5px 10px;
    background-color: rgb(73, 87, 105);
    left: 0px;
    bottom: 0px;
    width: 100%;
}

.footer-inner {
    color: #f2f2f2;
    text-align: right;
}

.footer a {
    display: block;
    color: #f2f2f2;
    text-align: right;
    text-decoration: none;
    font-size: 15px;
}


.fleft {
    float: left;
    width:40%;
    padding: 10px 0px 0px 0px;
    font-size: 24px;
}
.fright {
    padding: 10px 10px 0px 0px;
    overflow: hidden;
    text-align: right;
    font-size: 21px;
}


/*  search a table */
#myInput {
    background-image: url(../images/search.png);
    background-position: 4px 4px;
    background-repeat: no-repeat;
    width: 97%;
    font-size: 18px;
    padding: 10px 10px 10px 46px;
    border: 1px solid #40ef1f;
    border-radius: 4px;
    margin-bottom: 10px;
    margin: 0px 12px 5px 5px;
    cursor:pointer;
}

.input {
    width: 180px;
    font-size: 18px;
    padding: 10px 10px 10px 10px;
    border: 1px solid #40ef1f;
    margin: 0px 12px 10px 5px;
    cursor:pointer;
} 
.radio {
    margin: 0px 0px 10px 5px;
    cursor:pointer;
}
.radiolabel {
    font-size: 18px;
    margin: 10px 10px 10px 0px;
    cursor:pointer;
}
.coin-list {
    font-size: 18px;
    margin: 10px 20px 10px 0px;
    cursor:pointer;
}

/* .clearable{
  background:url(../images/search.png) no-repeat right -10px center;
  border:1px solid #999;
  padding:3px 18px 3px 4px; /* USE the same right padding in jQ!
  border-radius:3px;
  transition: background 0.4s;.
} 
.clearable.x{
  background-position: right 5px center;
}
.clearable.onX{
  cursor:pointer;
}	
*/

.health {
    font-size: 12px;
}

/*  coin and other icons */

.img20 {
      width:20px;
    height: 20px;  
}

.img32 {
    width:32px;
    height: 32px;
}

.img40 {
    width:50px;
    height: 50px;
}

.smallbr {
    padding: 0 0;
    margin: 0 0;
}


.overlay {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 99; /* Sit on top */
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgb(0, 0, 0); /* fallback if needed */
  background: rgba(0, 0, 0, 0.6);
  transition: opacity 500ms;
  opacity: 1;
}


.popup {
  margin: 120px auto;
  padding: 10px;
  background: #fefefe;
  border-radius: 5px;
  width: 90%;
  height: auto;
  position: relative;
  transition: all 5s ease-in-out;
}

.popup h2 {
  margin-top: 0;
}
.closemodal {
  position: absolute;
  top: 5px;
  right: 10px;
  transition: all 200ms;
  font-size: 40px;
  font-weight: bold;
  text-decoration: none;
  color: rgb(59, 59, 59);
}
.closemodal:hover {
  color: #a72323;
  cursor: pointer;
}

.popup .content {
  max-height: 90%;
  overflow: auto;
}

/*/ tabs <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">/*/
.w3-container:after,
.w3-container:before,
.w3-panel:after,
.w3-panel:before,
.w3-row:after,
.w3-row:before,
.w3-row-padding:after,
.w3-row-padding:before,
.w3-cell-row:before,
.w3-cell-row:after,
.w3-clear:after,
.w3-clear:before,
.w3-bar:before,
.w3-bar:after {
    content: "";
    display: table;
    clear: both;
}
.w3-container,
.w3-panel {
    padding: 0px;
    margin: 0px 3px;

}

.w3-row-padding,
.w3-row-padding, .w3-half,
.w3-row-padding, .w3-third,
.w3-row-padding, .w3-twothird,
.w3-row-padding, .w3-threequarter,
.w3-row-padding, .w3-quarter,
.w3-row-padding, .w3-col {
    padding: 0px 8px;
}

.w3-col,
.w3-half,
.w3-third,
.w3-twothird,
.w3-threequarter,
.w3-quarter {
    float: left;
    width: 100%;
    border-color:#ebebeb;
    background-color:#ffffff;
}

.w3-col.m4,
.w3-third {
    width: 25%;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    border-top-left-radius:10px;
    border-top-right-radius: 10px;
    border-style: solid;
    border-width: thin;
}

.w3-bottombar {
    border-bottom: 6px solid #ebebeb; !important
}

.w3-light-grey,
.w3-hover-light-grey:hover,
.w3-light-gray,
.w3-hover-light-gray:hover {
    color: #000 !important;
    background-color: #f1f1f1 !important;
}

.w3-border-red,
.w3-hover-border-red:hover {
    border-color: #C8102E!important;
    background-color: #f1f1f1;
}


.w3-padding {
    padding: 8px 16px !important
}

@media (min-width: 1024px) {
    h1 {
        font-size: 42px;
        line-height: 42px;
        letter-spacing: -0.02em;
    }
    h2 {
        font-size: 34px;
        line-height: 38px;
        letter-spacing: 0;
    }
    h3 {
        font-size: 24px;
        line-height: 28px;
        letter-spacing: 0;
    }
    .pageouter {
        width: 90%;
    }
    .footer {
        padding: 15px 10px 15px 10px;
    }
    .footer-inner {
        width: 90%;
        margin: auto;
    }
    .section {
        margin: 5px 5px 10px 10px;
        padding: 5px 5px 10px 5px;
        border-radius: 8px;
    }
        .section-last {
        margin: 5px 5px 10px 10px;
        padding: 5px 5px 35px 5px;
    }

    .popup {
        margin: 100px auto;
        padding: 40px;
        border-radius: 5px;
        width: 600px;
        height: 600px;
      }
}

@media (min-width: 700px) {
    .popup {
        margin: 100px auto;
        padding: 40px;
        border-radius: 5px;
        width: 500px;
        height: 400px;
      }


}



/* ------------------------------------------------------- */